<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.api.data.mapper.EventMapper">

    <insert id="insertContents" useGeneratedKeys="false">
		INSERT INTO project.content (title, text, page_id) VALUES
        <foreach item="content" collection="contents" separator=",">
			(#{content.title}, #{content.text}, #{id})
        </foreach>
    </insert>
    <update id="updateContents" parameterType="java.util.List">
        <foreach collection="contents" item="content" index="index" open="" close="" separator=";">
			UPDATE project.content SET title =#{content.title},text = #{content.text}
			WHERE id=#{content.id}
        </foreach>
    </update>


    <!-- @Results(value = {@Result(property = "contents", column = "id", javaType = List.class, one = @One(select = "findAllContentByPageId")), -->
    <!-- // @Result(property = "id", column = "id", javaType = Long.class), -->
    <!-- // @Result(property = "language", column = "language", javaType = com.project.api.data.enums.Language.class, 
		typeHandler = com.project.api.data.mapper.handler.LanguageTypeHandler.class)}) -->
    <resultMap id="landingPageResultMap" type="com.project.api.data.model.event.EventLandingPage">
        <id property="id" column="id" />
        <result property="language" column="language" javaType="com.project.api.data.enums.Language" typeHandler="com.project.api.data.mapper.handler.LanguageTypeHandler" />
        <association property="contents" column="id" javaType="List" select="findAllContentByPageId" />
        <association property="event" column="{id=event_id,language=language}" javaType="com.project.api.data.model.event.Event" select="findEventById" />
    </resultMap>
    <select id="findAllLandingPageByFilter" resultMap="landingPageResultMap">
		SELECT lv.id, lv.title, lv.description, lv.keywords, lv.language,
		lv.event_id, lv.slug, lv.place_id
		FROM project.event_landing_page_view lv
		WHERE
		lv.event_id = IF(#{id} = 0, lv.event_id, #{id})
        <if test="language != null">
			AND lv.language = #{language.code}
        </if>
        <if test="startDate != null">
			AND lv.start_date = #{startDate}
        </if>
        <if test="endDate != null">
			AND lv.end_date = #{endDate}
        </if>
		AND type = 2
    </select>
<resultMap id="EventMap" type="com.project.api.data.model.event.Event">
    <id property="id" column="id" />
    <result property="language" column="language" javaType="com.project.api.data.enums.Language" typeHandler="com.project.api.data.mapper.handler.LanguageTypeHandler" />
    <result property="type" column="type" javaType="com.project.api.data.enums.EventType" typeHandler="com.project.api.data.mapper.handler.EventTypeTypeHandler" />
        <result property="periodType" column="period_type" javaType="com.project.api.data.enums.EventPeriodType" typeHandler="com.project.api.data.mapper.handler.EventPeriodTypeTypeHandler" />
    
</resultMap>
    <select id="findAllEventsByFilter" resultMap="EventMap">
		SELECT ev.id, ev.place_id,  ev.id AS event_id, ev.type, ev.period_type, #{language.code} AS language,
        ev.start_date, ev.start_time, ev.end_date, ev.end_time, ev.show_start_time, ev.show_end_time,
        CASE #{language.code} WHEN 'TR' THEN ev.tr_name WHEN 'EN' THEN ev.en_name WHEN 'RU' THEN ev.ru_name WHEN 'DE' THEN ev.de_name END AS name, 
        CASE #{language.code} WHEN 'TR' THEN ev.tr_slug WHEN 'EN' THEN ev.en_slug WHEN 'RU' THEN ev.ru_slug WHEN 'DE' THEN ev.de_slug END AS slug, 
        ev.create_datetime, ev.update_datetime
        FROM project.event_view ev
        WHERE
		ev.id = IF(#{id} = 0, ev.id, #{id})
        <if test="startDate != null">
			AND ev.start_date = #{startDate}
        </if>
        <if test="endDate != null">
			AND ev.end_date = #{endDate}
        </if>
    </select>


</mapper>